__pycache__/
*.py[cod]
*$py.class
venv/
.env

# PyInstaller
build/
*.spec
*.pkg
backend/storage/AgentTemplate/win-x64/build/
*.toc


# PyInstaller
build/
*.spec
*.pkg
backend/storage/AgentTemplate/win-x64/build/
backend/storage/AgentTemplate/win-x64/dist/
!backend/storage/AgentTemplate/win-x64/dist/monitorix.exe
backend/storage/AgentTemplate/win-x64/src/dist/monitorix.exe
dist/monitorix.exe
